body {
    font-family: 'Balloon', sans-serif;
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

#logo {
    width: 300px; /* Adjust logo size as needed */
    margin: 10px auto; /* Reduce the space around the logo */
    display: block;
}

#title {
    font-size: 36px; /* Title size */
    margin: 10px 0; /* Reduce the space between the logo and the title */
    color: #FFD700; /* Gold color for the title */
}

#question-container {
    padding: 10px; /* Reduce padding around question container */
}

#question {
    font-size: 24px;
    margin-bottom: 10px; /* Reduce space between the question and answer */
}

#answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer {
    background: transparent; /* No background */
    border: none; /* Remove border */
    color: #fff; /* Text color */
    font-size: 20px;
    margin: 5px 0; /* Reduce space between answers */
    cursor: pointer; /* Cursor change on hover */
    transition: transform 0.1s; /* Animation effect */
}

.answer:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}
